
.margen{
  margin: 20px;
}

.tabla{
  width: 100%;
  text-align: center;
}

.tabla td{
  padding:10px;
}
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px; 
}

#menu{
  background: #253a46;
  padding: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#menu a{
  color: white;
  padding-top: 10px;
  padding-right: 10px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  width: 100px;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
}

#tareas{
 font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  
  
}